{% extends 'base.html' %}
{% block content  %}
<div style="background: #424242;">
  <section  style="background-color: rgba(0, 0, 0, 0.2); color: #f3f5f7;">
    <b style= ' text-align-last: start;'> Mind vomit is a social media site where anyone can post anything. You are fully anonymous. We know what you're thinking: "Why would I want to go on this website? What can I say there?" Well, how about your deepest, darkest secrets? Or maybe you'd like to vent some anger without consequences! Or maybe... maybe just maybe... you'd like to practice your writing skills? Whatever your reasons for coming here, we're glad you did. And we hope you continue to come back often! .</b>
  </section>
  </div>

  <style>body
    {
      font-family: sans-serif;
      font-size: 100%;
      color: #444;
      background-color: rgb(62, 43, 43);
    }
    
    .papers, .papers:before, .papers:after
    {
      background-color: rgb(185, 180, 180);
      border: 1px solid #ccc;
      box-shadow: inset 0 0 30px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.2);
    }
    
    .papers
    {
      position: relative;
      width: 50%;
      padding: 2em;
      margin: 50px auto;
    }
    
    .papers:before, .papers:after
    {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: rotateZ(2.5deg);
      -o-transform: rotate(2.5deg);
      transform: rotateZ(2.5deg);
      z-index: -1;
    }
    
    .papers:after
    {
      -webkit-transform: rotateZ(-2.5deg);
      -o-transform: rotate(-2.5deg);
      transform: rotateZ(-2.5deg);
    }
    
    .papers h1
    {
      font-size: 1.8em;
      font-weight: normal;
      text-align: center;
      padding: 0.2em 0;
      margin: 0;
      border-top: 1px solid #ddd;
      border-bottom: 2px solid #ddd;
    }
    a {
      text-decoration: none;
      color: rgb(100, 8, 8);
    }
    .papers p
    {
      text-align: left;
      margin: 1.5em 0;
    }</style>

{%for post in articles%}
  <div class="papers">
    <h1><b><a href="post/{{post.slug}}">{{post.title | upper}}</a></b>
    </h1>
    {{post.date}}
    <p><b>{{post.content | slice:200}} ....</p></b>
    <center><a href="post/{{post.slug}}" style="color: white; margin-left: 25%;"> <br><button type="button" class="btn btn-danger">READ MORE</button></a></center>
  </div>
  {%endfor%}


  <footer class="bg-dark text-center text-white">
    looks like we have reach the end
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <b> <i> I am Prashant </i></b>
    </div>
    <!-- Copyright -->
  </footer>

  {% endblock  %}